body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#000,#0A84FF);
  color:white;
}

.screen{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.hidden{display:none;}

.glass{
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(20px);
  border-radius:20px;
  padding:20px;
}

.logo{
  font-size:40px;
  text-shadow:0 0 20px #0A84FF;
}

/* LOGIN PRO */
.input-group{
  position:relative;
  margin:10px 0;
}

.input-group input{
  width:100%;
  padding:14px;
  border-radius:10px;
  border:none;
  background:rgba(255,255,255,0.1);
  color:white;
}

.input-group label{
  position:absolute;
  left:10px;
  top:50%;
  transform:translateY(-50%);
  transition:.3s;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown)+label{
  top:-10px;
  font-size:12px;
  color:#0A84FF;
}

.eye{
  position:absolute;
  right:10px;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer;
}

button{
  margin:5px;
  padding:10px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  transition:.3s;
}

.primary-btn{
  background:#0A84FF;
}

button:hover{
  transform:scale(1.05);
}

.error-text{
  color:red;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,150px);
  gap:10px;
}

.card{
  padding:10px;
  border-radius:10px;
  background:rgba(255,255,255,0.1);
  text-align:center;
  cursor:pointer;
  transition:.3s;
}

.card:hover{
  transform:scale(1.05);
}

.card img{
  width:100%;
  border-radius:10px;
}
